doctype transitional
html
  head
    meta(charset='utf-8')
    link(href='#{styles[0]}',
      rel = 'stylesheet')
    link(href='#{styles[2]}',
      rel = 'stylesheet')
    .col-md-3
      img(src='../images/gallery_01.jpg', alt='gallery_01.jpg')
      img(src='../images/gallery_05.jpg', alt='gallery_05.jpg')
      img(src='../images/gallery_09.jpg', alt='gallery_09.jpg')
    .col-md-3
      img(src='../images/gallery_02.jpg', alt='gallery_02.jpg')
      img(src='../images/gallery_06.jpg', alt='gallery_05.jpg')
      img(src='../images/gallery_10.jpg', alt='gallery_10.jpg')
    .col-md-3
      img(src='../images/gallery_03.jpg', alt='gallery_03.jpg')
      img(src='../images/gallery_07.jpg', alt='gallery_07.jpg')
      img(src='../images/gallery_11.jpg', alt='gallery_11.jpg')
    .col-md-3
      img(src='../images/gallery_04.jpg', width='90%', alt='gallery_04.jpg')
      img(src='../images/gallery_08.jpg', alt='gallery_07.jpg')
      img(src='../images/gallery_12.jpg', alt='gallery_12.jpg')
    script.script(src='#{scripts[1]}')  