extends layout
block content
  !{text.body}
  h2() Что такое кабельный вейкбординг.
  p.cb_text 
    | Кабельный вейкбординг – катание на доске с креплениями посредством буксировки за фалом. Райдер держится за трос (фал) и может выполнять прыжки и другие головокружительные трюки.
    | Буксировка выполняется посредством реверсивной или кольцевой канатной дороги.
    | Родственные виды спорта – водные лыжи, серфинг, кайтсерфинг и даже сноубород. Если вы уже занимались чем-то подобным – самое время попробовать что-то новенькое и встать на вейкборд!
  h3() Экипировка.
  h4() Доска.
  p.cb_text
    | Наиболее известные производители досок для вейка: JOBE, Liquid Force, Ronix, Rope, SlingShot. Различают доски по типу изготовления и сердцевине (с пенным наполнением - для трюков на воде, с деревянным сердечником - на фигурах). Доски оснащены килями (опционально - если не предполагается выполнение трюков на фигурах), обеспечивающих дополнительную устойчивость райдеру.
  h4(align='left') Крепления.
  p.cb_text
    | Сущестует несколько типов креплений
    br
    | - открытые: простейшие крепления, не фиксирующие голеностоп;
    br
    | - закрытые: фиксируют голеностоп, имеют разную степень "закрытости": максимально закрытые очень похожи на ботинки для сноуборда; крепятся непосредственно на доску
    br
    | - композитные: повторяющие принцип конструкции креплений для сноуборда: само крепление и выстегивающийся ботинок.
    br
    | Самые респространенные в настоящий момент - закрытые, в следствии: хорошего сочетания цены/качества, высокой степени контроля доски. Однако, набирают популярность в среде профессионалов композитные крепления: более дорогие, однако, обеспечивающие высокую степень защиты ног при высокоамплитудных трюках.
  h4(align='left') Жилет.
  p.cb_text Спасательный жилет. Вещь, безусловно, необходимая :).
  p.cb_text Это минимум необходимой экипировки.
  h4(align='left') Шлем.
  p.cb_text
    | Защитит вашу голову от непредсказуемых контактов с любыми типами поверхности и позволит сохранить ее содержимое в относительной целости :)
  h4(align='left') Гидрокостюм
  p.cb_text  
    | В нашем климате позволяет продлить сезон месяца на 2-4, в зависимости от типа
  h4(align='left') Гидроноски и перчатки
  p.cb_text
    | Позволят вашим ногам не мерзнуть и сохранит ваши руки от неприятных мозолей.