body  
{
//background-image: url(../images/bg2.jpg);
background-color: #d9f9f9;
text-align:center;
}

img{
 margin: 2px;
 padding: 2px;
 height: auto;
 width: 100%;
 cursor:pointer; 
}
.img a:hover img {
    border:1px solid #0000ff;
}
