body  
{
background-image: url(../images/bg2.jpg);
background-color: #d9f9f9;
text-align:center;
}

body h1
{
 height:84;
 background-image: url(../images/01_main_title.jpg);
 text-align:center;
 background-repeat: repeat-x;
 margin:0;
}

body h2
{
 text-align:left;
 font-weight: bold;
 margin:0;
}

body h3
{
 text-align:left;
 font-weight: bold;
 margin:0;
}

body h4
{
 text-align:left;
 font-weight: bold;
 margin:0;
}

.menutop{
width: 100%;
display:-moz-box;
display:-webhit-flex;
display:flex;
text-align:center;
margin:0 auto;
flexdirection:row;
}
.menutop a{
moz-box:1;
width-flex:1;
flex:1;
display:block;
font-size:14;
padding:7px 0px;
text-align:center;
background:green;
color:white;
text-decoration:none;
}
.menutop a:hover{
background:#abe3b8;
color:green;
}
.btn{
 line-height: 0.7;
 font-size: 11px;
 padding: 4px;
}
.cb_text{
 font-size: 14;
 margin:20;
 text-align: left; /* Выравнивание текста по ширине */
}